@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10; /* Novo Zinc-900 (Preto bem escuro) */
  --background-end-rgb: 0, 0, 0;      /* Novo Zinc-950 (Preto absoluto) */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

/* Custom transitions for a premium feel */
.transition-all-custom {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
